<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobs.matomesan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <user-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".MyListActivity"
            android:label="@string/title_activity_my_list" >
        </activity>
        <activity
            android:name=".MyListContentsActivity"
            android:label="@string/title_activity_my_list_contents" >
        </activity>
        <provider
            android:name=".MyListContentProvider"
            android:authorities="com.jobs.matomesan.mycontentprovider"
            android:exported="false" >
        </provider>
    </application>

</manifest>
